{{#if this.session.isAuthenticated}}
  {{#ce-navbar class="layout__nav"}}
    {{ce-icon-link-button
      href=(href-to "chats")
      title="Navigate to chats page"
      aria-label="Navigate to chats page"
      icon="chat"
      badged=(gt this.session.model.metaInfo.unreadChats.length 0)
    }}
    {{ce-icon-link-button
      href=(href-to "sites")
      title="Navigate to sites page"
      aria-label="Navigate to sites page"
      icon="domain"
    }}
    {{ce-icon-link-button
      href=(href-to "profile")
      title="Navigate to profile page"
      aria-label="Navigate to profile page"
      icon="account_circle"
    }}
  {{/ce-navbar}}
{{/if}}

<main class="layout__main">
  {{outlet}}
</main>

{{ce-toast data-test-application="toast"}}
