{{#ce-top-bar class="layout__header" responsive=true}}
  <h1>Documentations</h1>
{{/ce-top-bar}}

<main class="layout__main">
  <section class="layout__section">
    {{#ce-subheader class="layout__section-header"}}
      <h2>Installation</h2>
    {{/ce-subheader}}

    {{#masonry-grid --items=platforms as |item|}}
      <article
          class="card clickable"
          tabindex="0"
          onclick={{action handleInstallationCardClick item.id}}
          onkeydown={{action handleInstallationCardKeydown item.id}}>
        <header class="docs_route-content__platform-header">
          <div class="docs_route-content__platform-text-content">
            <h3 class="docs_route-content__platform-name">{{item.name}}</h3>

            {{#if item.description}}
              <p class="docs_route-content__platform-description">{{item.description}}</p>
            {{/if}}
          </div>

          <img class="docs_route-content__platform-logo" src="{{item.logoUrl}}" alt="{{item.name}}">
        </header>
      </article>
    {{/masonry-grid}}
  </section>

  {{yield}}
</main>
