<div class="chat-composer-main-toolbar">
  {{#if --isSubToolbarVisible}}
    {{ce-icon-button
        data-test-chat-composer-main-toolbar="hide-sub-toolbar-button"
        title="Hide stickers and gifs"
        aria-label="Hide stickers and gifs"
        icon="close"
        --onClick=(action --onHideSubToolbarClick)}}
  {{else}}
    {{ce-icon-button
        data-test-chat-composer-main-toolbar="show-sub-toolbar-button"
        title="Show stickers and gifs"
        aria-label="Show stickers and gifs"
        disabled=--isComposingDisabled
        icon="add"
        --onClick=(action --onShowSubToolbarClick)}}
  {{/if}}

  {{textarea
      class="chat-composer-main-toolbar__field"
      data-test-chat-composer-main-toolbar="field"
      autocapitalize=true
      placeholder="What do you want to say?"
      disabled=--isComposingDisabled
      value=this.message
      autoresize=true
      rows=1
      max-rows=6}}
  {{ce-icon-button
      data-test-chat-composer-main-toolbar="send-button"
      title="Send message"
      aria-label="Send message"
      disabled=(or --isComposingDisabled (not this.message))
      icon="send"
      --onClick=(action this.handleSendMessageClick)}}
</div>
