<div data-test-chat-composer-sub-toolbar="host">
  <div
    class="comment-composer-toolbar__toolbar"
    role="toolbar"
    aria-label="Composer toolbar"
  >
    {{ce-icon-button
      data-test-chat-composer-sub-toolbar="sticker-button"
      title="Show stickers"
      aria-label="Show stickers"
      aria-pressed=(if (eq this.selectedToolbar "sticker") "true" "false")
      icon="sticker_emoji"
      mdi-ext=true
      square=true
      --onClick=(action this.handleToolbarActionClick "sticker")
    }}
    {{ce-icon-button
      data-test-chat-composer-sub-toolbar="gif-button"
      title="Show GIFs"
      aria-label="Show GIFs"
      aria-pressed=(if (eq this.selectedToolbar "gif") "true" "false")
      icon="gif"
      square=true
      --onClick=(action this.handleToolbarActionClick "gif")
    }}
  </div>

  {{#if (eq this.selectedToolbar "sticker")}}
    {{chat-composer/chat-composer-sub-toolbar/sub-toolbar-sticker
      --firebase=(lookup "service:firebase")
      --session=(lookup "service:session")
      --store=(lookup "service:store")
      --onStickerClick=(action --onStickerClick)
    }}
  {{else if (eq this.selectedToolbar "gif")}}
    {{chat-composer/chat-composer-sub-toolbar/sub-toolbar-gif
      --session=(lookup "service:session")
      --onGifClick=(action --onGifClick)
    }}
  {{/if}}
</div>
