<article
    class="card clickable"
    data-test-user-collection-item="{{--user.id}}"
    tabindex="0"
    onclick={{action handleUserClick}}
    onkeydown={{action handleUserKeydown}}>
  <header class="user-collection-item__header">
    <div class="user-collection-item__text-content">
      <h3 class="user-collection-item__name" data-test-user-collection-item="name">
        {{--user.displayName}}
      </h3>

      {{#if --user.displayUsername}}
        <p class="user-collection-item__username" data-test-user-collection-item="username">
          @{{--user.displayUsername}}
        </p>
      {{/if}}
    </div>

    <img
        class="user-collection-item__photo"
        data-test-user-collection-item="photo"
        src="{{--user.largePhotoUrl}}"
        alt="{{--user.displayName}}">
  </header>

  {{#if (eq isUserBeingFollowed true)}}
    {{unfollow-user-button --userToUnfollow=--user --onUnfollowUser=(action handleUnfollowUser)}}
  {{else if (eq isUserBeingFollowed false)}}
    {{follow-user-button --userToFollow=--user --onFollowUser=(action handleFollowUser)}}
  {{/if}}
</article>
