<section data-test-page-comments="host">
  {{#ce-subheader class="section-header"}}
    <h1 class="section-header__title" data-test-page-comments="heading">Comments</h1>

    {{#if --session.model}}
      {{#ce-dropdown-button
          data-test-page-comments="filter-comments-button"
          icon="filter_list"
          position="ll"}}
        <li class="list__item">
          <button
              class="list__action {{if (eq --filterCommentsBy 'relevance') 'list-item__action--active'}}"
              data-test-page-comments="filter-comments-by-relevance-button"
              onclick={{action --onFilterCommentsClick 'relevance'}}>
            <div>
              <div class="list__single-line-content">Relevant to you</div>
            </div>
          </button>
        </li>

        <li class="list__item">
          <button
              class="list__action {{if (eq --filterCommentsBy 'all') 'list-item__action--active'}}"
              data-test-page-comments="filter-comments-by-all-button"
              onclick={{action --onFilterCommentsClick 'all'}}>
            <div>
              <div class="list__single-line-content">All</div>
            </div>
          </button>
        </li>
      {{/ce-dropdown-button}}
    {{else}}
      {{#if isInIosUiWebView}}
        {{ce-icon-button
            class="site-page_route-content-page-comments__open-safari"
            title="Open in Safari to sign in"
            aria-label="Open in Safari to sign in"
            icon="account_circle"
            --onClick=(action showOpenInSafariToast)}}
      {{else}}
        {{ce-icon-link-button
            href=(href-to 'sign-in')
            title="Sign in"
            aria-label="Sign in"
            target="_blank"
            icon="account_circle"}}
      {{/if}}
    {{/if}}
  {{/ce-subheader}}

  {{comment-list
      --comments=--comments
      --newComments=--newComments
      --emptyStateMessage="No comments so far. Want to be the first?"
      --threadLevel=1
      --onLoadMoreCommentsClick=(action handleLoadMoreCommentsClick)}}

  <footer class="site-page_route-content-page-comments__footer">
    <a
        class="site-page_route-content-page-comments__footer-link"
        href="https://cenchat.com/about/terms"
        target="_blank"
        rel="noopener noreferrer">
      Terms
    </a>

    <a
        class="site-page_route-content-page-comments__footer-link"
        href="https://cenchat.com/about/privacy"
        target="_blank"
        rel="noopener noreferrer">
      Privacy
    </a>

    <a
        class="site-page_route-content-page-comments__footer-link site-page_route-content-page-comments__footer-cenchat-link"
        href="https://cenchat.com"
        target="_blank"
        rel="noopener noreferrer">
      Cenchat
    </a>
  </footer>
</section>
