<div class="comment-item-avatar">
  <div class="comment-item-avatar__author-image-container">
    {{#if --comment.author}}
      <a
          class="comment-item-avatar__author-image-link"
          href="https://cenchat.com/profile/{{--comment.author.urlKey}}"
          target="_blank"
          rel="noopener noreferrer">
        {{ce-image
            class="comment-item-avatar__author-image"
            data-test-item-avatar="author-image"
            src=--comment.author.avatarUrl
            alt=""}}
      </a>
    {{else}}
      {{ce-image
          class="comment-item-avatar__author-image"
          data-test-item-avatar="anonymous-author-image"
          src=--comment.authorOrAnonymous.avatarUrl
          alt=""}}
    {{/if}}
    
    {{#if --comment.isFromFollowing}}
      {{#ce-icon
          class="comment-item-avatar__following-badge"
          data-test-item-avatar="following-badge"
          title="Following badge"
          aria-label="Following badge"
          size="small"}}
        favorite
      {{/ce-icon}}
    {{/if}}
  </div>

  {{#if --comment.replyTo}}
    <button
        class="comment-item-avatar__toggle-quote-button"
        data-test-item-avatar="toggle-quote-button"
        title="Toggle quote"
        aria-label="Toggle quote"
        onclick={{action --onToggleQuoteClick}}>
      {{#ce-icon size="small"}}reply{{/ce-icon}}

      {{ce-image src=--comment.replyTo.authorOrAnonymous.avatarUrl alt=""}}
    </button>
  {{/if}}
</div>
