{{head-layout}}
{{outlet}}
{{application/-components/application-navbar --session=session}}
{{ce-toast data-test-application="toast"}}

<div class="splash-screen">
  {{cenchat-c-logo class="splash-screen__logo"}}
  <div class="splash-screen__progress-bar"></div>
</div>
