{{head-layout}}

{{#cenchat-header class="layout__header"}}
  {{#ce-dropdown-button
    class="application__more-button"
    icon="more_vert"
    position="ll"
  }}
    <li class="list__item">
      <a class="list__action" href={{href-to "pricing"}}>
        <div>
          <div class="list__single-line-content">Pricing</div>
        </div>
      </a>
    </li>

    <li class="list__item">
      <a class="list__action" href={{href-to "docs"}}>
        <div>
          <div class="list__single-line-content">Docs</div>
        </div>
      </a>
    </li>

    <li class="list__item">
      <a class="list__action" href="https://web.cenchat.com">
        <div>
          <div class="list__single-line-content">Sign in</div>
        </div>
      </a>
    </li>
  {{/ce-dropdown-button}}

  {{#ce-link-button class="application__nav-link" href=(href-to "pricing")}}
    Pricing
  {{/ce-link-button}}

  {{#ce-link-button class="application__nav-link" href=(href-to "docs")}}
    Docs
  {{/ce-link-button}}

  {{#ce-link-button class="application__nav-link" href="https://web.cenchat.com"}}
    Sign in
  {{/ce-link-button}}
{{/cenchat-header}}

{{outlet}}

<footer class="application__footer">
  <div class="application__footer-wrapper">
    <a
      class="application__footer-link"
      href={{href-to "policies.terms"}}
      rel="noopener noreferrer"
    >
      Terms
    </a>

    <a
      class="application__footer-link"
      href={{href-to "policies.privacy"}}
      rel="noopener noreferrer"
    >
      Privacy
    </a>

    <a
      class="application__footer-link application__footer-link--right"
      href="mailto:support@cenchat.com"
    >
      Contact us
    </a>
  </div>
</footer>
