{{profile/-components/route-content/top-bar
    --session=--session
    --user=--user
    --onSignOutClick=(action --onSignOutClick)}}

<main class="layout__main">
  {{#if (eq --session.model.id --user.id)}}
    {{#if --user.missingInfo}}
      {{profile/-components/route-content/missing-info
          --user=--user
          --onUsernameSubmit=(action --onUsernameSubmit)}}
    {{/if}}

    {{#if --user.facebookId}}
      {{profile/-components/route-content/follow-suggestion-collection --user=--user}}
    {{/if}}

    {{profile/-components/route-content/following-collection --user=--user}}
  {{/if}}

  {{yield}}
</main>
