{{#side-nav}}
  {{#ce-top-bar}}
    {{ce-icon-link-button
        href=(href-to 'docs.index')
        title="Navigate back"
        aria-label="Navigate back"
        icon="arrow_back"}}

    <h2>{{--platform}}</h2>
  {{/ce-top-bar}}

  <div class="side-nav__content">
    {{#if (eq --platform 'Blogger')}}
      {{docs/installation/-components/route-content/blogger-guide}}
    {{else if (eq --platform 'Wordpress')}}
      {{docs/installation/-components/route-content/wordpress-guide}}
    {{else if (eq --platform 'Universal')}}
      {{docs/installation/-components/route-content/universal-guide}}
    {{/if}}
  </div>

  {{yield}}
{{/side-nav}}
